
.form-firstpage {
  text-align: center;
  max-width: 100%;
  padding: 15px;
  margin: 0 auto;

}
.form-firstpage .form-firstpage-heading{
  font-size:30px;
  font-weight: bold;
  padding-bottom: 10px;
}
.form-firstpage .form-firstpage-heading2{
  margin-bottom: 20px;
  font-size: 18px;
  padding-bottom: 10px;
}
.form-firstpage .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-firstpage .form-control:focus {
  z-index: 2;
}

button[type="submit"]{
  background-color: #004828;
  width: 20%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  border:transparent;
}

body{
  background: url(슬라이드1.jpg) no-repeat center center fixed;
  background-size: 100% 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}
